#main > .main {
    height: 600px;
}

#main > .main > .aboutParagraph {
    margin-top: 25px;
    margin-left: 25px;
    color: #AAA;
    font-weight: normal;
    font-size: 16px;
}

#main > .main > .aboutList {
    margin-top: 50px;
    margin-left: 75px;
    padding-bottom: 300px;
    list-style-type: square;
}

#main > .main > .aboutList > li {
    font-size: 16px;
}

