#main > .main {
    height: 600px;
}

#main > .main > div .aboutHeader {
    font-size: 30px;
    color: #52B0D6;
    font-family: "Lucida Sans Unicode";
    font-weight: normal;
}
#main > .main > div{
    border-bottom: #AAA solid 2px;
}

#main > .main > div > .aboutParagraph {
    margin-top: 25px;
    color: #AAA;
    font-weight: normal;
    margin-left: 25px;
    font-size: 15px;
}

#main > .main > div > .aboutList {
    margin-top: 50px;
    margin-left: 75px;
    font-size: 16px;
    padding-bottom: 300px;
}