#main > .main {
    height: 500px;
}

.form-container {
    margin: 10px;
    height: 387px;
}

.form-component {
    margin: 10px 0 20px 0;
}

.form-component label {
    width: 35%;
    float: left;
    display: block;
    margin: 7px 20px 0 0;
    text-align: right;
}

.form-component input[type="text"] {
    display: block;
}

.navigation-bar {
    position: absolute;
    width: 700px;
    text-align: center;
    bottom: 10px;
    height: 57px;
}

.navigation-bar input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
}

.form-component .styled-select {
    width: 130px;
}

.form-component .styled-select select {
    width: 130px;
}

#airline {
    width: 215px;
}

input.price {
    width: 50px;
}

