#main > .main {
    height: 550px;
}

.form-container {
    margin: 10px;
}

.form-component {
    margin: 10px 0 20px 0;
}

.form-component label {
    width: 35%;
    float: left;
    display: block;
    margin: 7px 20px 0 0;
    text-align: right;
}

.form-component input[type="text"] {
    display: block;
}

.navigation-bar {
    text-align: center;
    margin-top: 10px;
}

.navigation-bar input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
}

.form-component .styled-select {
    width: 130px;
}

.form-component .styled-select select {
    width: 130px;
}

#airline {
    width: 200px;
}

input.price {
    width: 50px;
}

