.note {
	border: 1px solid #888;
	border-radius: 20px;
	width: 70%;
	padding: 5px;
	text-align: center;
	margin: 10px auto;
}

.summary {
	height: 300px;
}

.barcode-container {
	display: inline-block;
	margin-left: 420px;
}

.barcode-img {
	width: 40%;
}

.flight {
    color: #52B0D6;
    display: inline-block;
}

.print-button {
	display: inline-block;
	margin-top: 15px;
	float: right;
}

.payment-error {
	display: none;
	color: #333;
	margin-bottom: 10px;
	width: 528px;
	background: #FAD3C4;
	border: solid 4px #A75B4E;
}
