#main > .main {
    height: 550px;
}

#main > .main > form > label {
    display: block;
}

#main > .main > form > input[type="submit"] {
    margin: 20px 0 25px 0;
}

.contactForm {
    height: 450px;
}

