#main > .main {
    height: 500px;
}

#main > .main label {
    display: block;
    height: 17px;
}

.form-container {
    margin: 10px;
    height: 450px;
}

#main > .main input[type="submit"],
#main > .main input[type="reset"] {
    margin: 10px 0 25px 0;
    height: 33px;
}

.contact-form {
    height: 446px;
}

.navigation-bar {
	position: absolute;
	width: 700px;
	text-align: center;
	bottom: 0;
	height: 50px;
}

.navigation-bar input[type="submit"], .navigation-bar input[type="reset"] {
	display: inline-block;
    margin-top: 10px;
}

textarea {
	height: 150px;
}

label {
	margin: 10px 0 0 0;
}

.contact-error {
	display: none;
	background: #FAD3C4;
	border: 1px solid #A75B4E;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #333;
	font-size: 13px;
	margin: 10px 0px 15px 0px;
	padding: 8px 8px;
}
