#main > .main {
    height: 500px;
}

#main > .main label {
    display: block;
}

.form-container {
    margin: 10px;
    height: 390px;
}

#main > .main input[type="submit"],
#main > .main input[type="reset"] {
    margin: 10px 0 25px 0;
}

.contact-form {
    height: 450px;
}

.navigation-bar {
    position: absolute;
    width: 700px;
    text-align: center;
    bottom: 10px;
    height: 50px;
}

.navigation-bar input[type="submit"], .navigation-bar input[type="reset"] {
	display: inline-block;
    margin-top: 10px;
}

textarea {
	height: 150px;
}

label {
	margin: 10px 0 0 0;
}
}
