#main > .main {
    /* height: 600px; */
	/* overflow: scroll; */
	/* width: 510px; */
}

.passenger_form {
	display: inline-block;
	padding: 10px 0;
}

.pass-ctn {
	height: 500px;
	overflow: scroll;
}

.navigation-bar input {
	display: inline-block;
}

.navigation-bar input {
	display: inline-block;
}

.form-component {
    float: left;
    width: 310px;
    margin-right: 20px;
}

.form-component input {
    width: 300px;
}

.form-container {
    overflow: auto;
}


