h6.title {
    margin-top: 6px;
    margin-bottom: 2px;
}

select {
    margin-top: 10px;
}

.data-container {
    margin-top: 20px;
    overflow: auto;
}

.passenger_form {
	display: inline-block;
	padding: 10px 0;
}

.pass-ctn {
	height: 400px;
	overflow-y: scroll;
}

.navigation-bar {
    text-align: center;
    margin-top: 10px;
}

.navigation-bar input[type="submit"] {
	display: inline-block;
	margin-top: 20px;
}

.form-component-left {
    float: left;
    width: 212px;
    margin: 0 10px 10px 10px;
}

.form-component-right {
    float: right;
    width: 212px;
    margin: 0 10px 10px 10px;
}

.form-component-left input[type="text"], .form-component-right input[type="text"] {
    width: 200px;
    margin-top: 5px;
}

.form-container {
    overflow: auto;
}

.summary{
	display: inline-block;
	height: 500px;
	width: 400px;
	margin-right: 20px;
	float: left;
}

div.main.panel {
	display: inline-block;
	position: absolute;
	height: 500px;
}

.departure {
    border-right: 1.5px solid #888;
    display: inline-block;
    padding: 10px 25px;
}

.return {
    display: inline-block;
    padding-left: 30px;
}

.flight-header {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.common {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}

.flight {
    font-size: 12px;
    color: #52B0D6;
    display: inline-block;
}

.styled-select, .styled-select select {
    display: inline-block;
}

.styled-select {
    margin-top: 5px;
    margin-right: 5px;
}

.gender {
    width: 100px;
}

.container {
    padding: 10px;
}

.passenger-error {
	background: #FAD3C4;
	border: 4px solid #A75B4E;
	color: #333;
	display: none;
	font-size: 13px;
	margin: 0px 0px 15px 0px;
	padding: 8px 8px;
}

.main {
	display: inline-block;
}

.passenger-main {
	height: 500px;
	width: 548px;
}

.passenger-alert {
	display: none;
	background: #FFFF99;
	border: 1px solid #FFBF00;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #333;
	font-size: 13px;
	padding: 8px 8px;
	display: inline-block;
	position: absolute;
}

.passenger-header {
	display: inline-block;
	margin-right: 70px;
}

#summary {
	width: 465px;
	overflow-y: scroll;
}
