.paymentTitle {
	height: 39px;
}

.summary{
	display: inline-block;
	height: 500px;
	width: 400px;
	margin-right:20px;
}

#body .main {
	display: inline-block;
	height: 500px;
	width: 544px;
	position: absolute;
}

.select-container {
    margin: 15px 0 10px 0;
    padding-left: 10px;
    height: 71px;
}

.select-container > .cards {
    margin-top: 10px;
}

.datacard-container {
    overflow: auto;
}

.payment-owner {
	display: inline-block;
	float: left;
	margin-left: 20px;
}

input[type="radio"]{
	margin-right: 10px;
	margin-left:30px;
}

.departure {
    border-right: 1.5px solid #888;
    display: inline-block;
    padding: 10px 25px;
}

.return {
    display: inline-block;
    padding-left: 30px;
}

.common {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}

.flight {
    font-size: 12px;
    color: #52B0D6;
    display: inline-block;
}

.navigation-bar {
    text-align: center;
    margin-top: 10px;
}

.navigation-bar input[type="submit"],
.navigation-bar input[type="button"] {
	display: inline-block;
    margin-top: 10px;
}

.form-component-left {
    float: left;
    width: 212px;
    margin: 0 10px 5px 10px;
}

.form-component-right {
    float: right;
    width: 212px;
    margin: 0 10px 5px 10px;
}

.card-num-component {
    width: 300px;
}

.form-component-left input[type="text"], .form-component-right input[type="text"] {
    width: 200px;
    margin-top: 5px;
}

select.expiration-date {
    margin-top: 10px;
}

input[type="text"].security-code {
    width: 30px;
}

.form-container {
    overflow: auto;
}

.owner-container {
	margin-top: 10px;
	overflow: auto;
}

.scroller {
    overflow-y: scroll;
	height: 450px;
}

.payment-wrapper {
	height: 500px;
}

h6.title {
	height: 17px;
    margin-top: 6px;
    margin-bottom: 2px;
}

.styled-select, .styled-select select {
    display: inline-block;
    width: 60px;
    /* vertical-align: bottom; */
}

.styled-select {
    margin-top: 5px;
    margin-right: 10px;
}

.container {
    padding: 10px;
}

.payment-label {
	height: 17px;
}


