* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #888;
}

a {
	cursor: pointer;
    color: #888;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0C81C7;
}

a.selected {
    color: #52B0D6;
}

p {
    font-weight: normal;
    color: #888;
}

h2 {
    font-weight: normal;
    color: #52B0D6;
    font-size: 32px;
    height: 39px;
}

h3 {
    font-weight: normal;
    color: #52B0D6;
    font-size: 16px;
}

h4 {
    font-weight: bold;
    color: #52B0D6;
    font-size: 25px;
    text-align: center;
}

h4.featured {
    font-size: 17px;
}

h4.title {
    font-weight: normal;
    color: #333;
}

h6{
    color:#333;
    text-align:center;
    height: 17px;
}

label {
    color: #555;
    margin: 20px 0px 10px 0px;
    height: 17px;
}

span.small {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width :140px;
}

input[type="text"], textarea {
    background-color: #DDD;
    color: #565656;
    font-size: 12px;
    padding: 7px 6px;
    border: 1px solid #888;
    resize: none;
    margin: 5px 0;
    width: 350px;
    height: 16px;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    box-shadow:0 0 0 3px #52B0D6;
}

input[type="submit"], input[type="reset"], input[type="button"] {
    display: block;
    color: #52B0D6;
    border: 1px solid #52B0D6;
    /* box-shadow: 0 0 0 3px #EEF5F7; */
    padding: 6px 17px 8px 17px;
    /*font-weight: bold;*/
    /* text-shadow: 1px 1px 0px #52B0D6; */
    background: #E4F1F6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #E4F1F6 0%, #CFE6EF 100%);
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #E4F1F6 0%,#CFE6EF 100%); */
    /*background: -webkit-radial-gradient(circle, #E4F1F6 40%, #CFE6EF);*/
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background: #EDFCFF;
    background: -moz-linear-gradient(top, #EDFCFF 0%, #CFE6EF 100%);
    background: -webkit-linear-gradient(top, #EDFCFF 0%,#CFE6EF 100%);
}

input[type="submit"]:active, input[type="reset"]:active {
    background: #CFE6EF;
    background: -moz-linear-gradient(top, #CFE6EF 0%, #EDFCFF 100%);
    background: -webkit-linear-gradient(top, #CFE6EF 0%,#EDFCFF 100%);
}

div.panel {
    border: 4px solid #AAA;
    padding: 10px;
    background-color: #EEE;
    margin-bottom: 25px;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#A3D1FF), to(#FFFFFF), color-stop(0.7, #FFF));
    background: -moz-linear-gradient(top, #A3D1FF, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3D1FF', endColorstr='#FFFFFF');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3D1FF', endColorstr='#FFFFFF')";
    background: -o-linear-gradient(top, #A3D1FF, #FFFFFF);
    background-repeat: no-repeat;
}

body > .container {
    width: 1024px;
    margin: 10px auto 20px auto;
}

body > .container > .header {
    margin-bottom: 20px;
    height: 75px;
}

#sidebar {
    display: inline-block;
    height: 500px;
    margin-right: 10px;
}

#main {
    display: inline-block;
    position: absolute;
    width: 724px;
}

.hdivider {
    height: 0px;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1.5px solid #888;
}

body > .container > .header .vdivider {
    height: 25px;
    margin-right: 10px;
    border-left: 1.5px solid #888;
    display: inline-block;
}

#logo {
    float: left;
}

#twitter_logo, #facebook_logo {
    height: 35px;
    width: 35px;
    display:inline-block;
}

#facebook_logo > img, #twitter_logo > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
}

.hide_onhover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.hide_onhover:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.show_onhover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.show_onhover:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu_link {
	cursor: pointer;
    display: inline-block;
}

.menu_link :hover{
    color:#74BEDE;
}

.menu-item {
    display: inline-block;
    padding: 0px 14px;
    border-right: 1px solid #888;
}

.final-menu-item {
    display: inline-block;
    padding: 0px 14px;
}
.header-info {
    float: right;
}

.social-media {
    float: right;
}

.menu {
    margin-top: 60px;
}

#sidebar .sidebar-header {
    width: 250px;
    height: 30px;
    display: block;
}

#sidebar .sidebar-body {
    width: 250px;
    display: inline-block;
}

#sidebar .sidebar-body input[type="text"] {
    width: 236px;
    height: 16px;
}

.input-date input {
    width: 100%;
}

.input-date img {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 12px;
    right: 10px;
}

#sidebar .sidebar-body .num-people {
    margin: 10px 0 20px 0;
}

#sidebar .sidebar-body label {
    width: 55%;
    height: 17px;
    float: left;
    display: block;
    margin: 7px 20px 0 0;
}

#sidebar .sidebar-body select {
    display: block;
    width: 60px;
}

#sidebar .sidebar-body .search {
    padding-top: 10px;
}

#sidebar .sidebar-body .search a {
    font-size: 12px;
    text-decoration: underline;
}

#sidebar .sidebar-body .search input[type="submit"] {
    float: right;
    width: 81px;
	height: 33px;
}

.sidebar-tab {
    background-color: #CCC;
    display: inline-block;
    padding: 3px;
    width: 114px;
    text-align: center;
    border: 1px solid #888;
}

.sidebar-tab.selected {
    background-color: #52B0D6;
    color: #555;
}

label.disabled {
    color: #BBB;
}

input.disabled {
    border-color: #DDD;
    color: #DDD;
}

input.disabled::-webkit-input-placeholder {
    color: #DDD;
}

input.disabled::-moz-placeholder {
    color: #DDD;
}

input.disabled:-moz-placeholder {
    color: #DDD;
}

input.disabled:-ms-input-placeholder {
    color: #DDD;
}

.styled-select {
    width: 60px;
    height: 25px;
    overflow: hidden;
    background: url(../img/select_arrow.png) no-repeat right #ddd;
    border: 1px solid #ccc;
    margin: 0;

}

.styled-select select {
    width: 140%;
    background: transparent;
    line-height: 1;
    border: 0;
    height: 25px;
    -webkit-appearance: none;
    margin: 0;
    overflow: hidden;
}

option {
    background-color: #EEE;
}

div.error {
	display: none;
	color: #333;
	margin-bottom: 10px;
	width: 250px;
	background: #FAD3C4;
	border: solid 4px #A75B4E;
}

.flightTotal {
	font-size: 16px;
    color: #52B0D6;
}

.pTotal {
	font-size: 16px;
	color: #333;
}


