* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #AAA;
}

a {
    color: #AAA;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #52B0D6;
}

p {
    font-weight: normal;
    color: #AAA;
}

h2 {
    font-weight: normal;
    color: #52B0D6;
    font-size: 32px;
}

input {
    background-color: #CFCFCF;
    color: #000;
}

div.panel {
    border: 5px solid #AAA;
    padding: 10px;
    background-color: #EEE;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#A3D1FF), to(#FFFFFF), color-stop(0.7, #FFF));
    background: -moz-linear-gradient(top, #A3D1FF, #FFFFFF);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3D1FF', endColorstr='#FFFFFF');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3D1FF', endColorstr='#FFFFFF')";
    background: -o-linear-gradient(top, #A3D1FF, #FFFFFF);
    background-repeat: no-repeat;
}

body > .container {
    width: 1024px;
    margin: 50px auto 20px auto;
}

body > .container > .header {
    margin-bottom: 20px;
    height: 100px;
}

body > .container > .body {
    overflow: auto;
}

body > .container > .body > .sidebar {
    float: left;
    width: 250px;
    height: 600px;
    margin-right: 20px;
}

#main {
    float: left;
    width: 724px;
}

#main .hr {
    height: 0px;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1.5px solid #AAA;
}

#logo {
    float: left;
    margin: 20px 5px 5px 0px;
}

#twitter_logo, #facebook_logo {
    float: right;
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

#facebook_logo > img, #twitter_logo > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
}

.hide_onhover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.hide_onhover:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.show_onhover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.show_onhover:hover {
    opacity: 1.00;
    filter: alpha(opacity=100);
}

#contact_link {
    float: right;
    margin-top: 70px;
    margin-right: -90px;
}

#about_link {
    float: right;
    margin-top: 70px;
    margin-right: 20px;
}

