* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #AAA;
}

a {
    color: #AAA;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #2BF;
}

div.panel {
    border: 5px solid #AAA;
    padding: 10px;
    background-color: #EEE;
}

body > .container {
    width: 1024px;
    margin: 50px auto 20px auto;
}

body > .container > .header {
    margin-bottom: 20px;
    height: 100px;
}

body > .container > .body {
    overflow: auto;
}

body > .container > .body > .sidebar {
    float: left;
    width: 250px;
    height: 600px;
    margin-right: 20px;
}

#main {
    float: left;
    width: 724px;
}

#logo {
    float: left;
    margin: 5px;
}

#twitter_logo, #facebook_logo {
    float: right;
    height: 35px;
    margin-left: 10px;
}

#contact_link {
    float: right;
    margin-top: 70px;
    margin-right: -90px;
}

#about_link {
    float: right;
    margin-top: 70px;
    margin-right: 20px;
}


