<div class="main panel">
    <h2 class="about-header">Nosotros</h2>
    <div class="hdivider"></div>
    <p class="about-paragraph">Trabajo práctico especial reaizado para la materia "Human Computer Interaction".<br>El diseño y la programación del sitio fueron realizados por los alumnos:</p>
    <ul class="about-list">
        <li>Lori, Tomás (52558)</li>
        <li>Mamani, Betina Cynthia (52310)</li>
        <li>Romarion, Germán Rodrigo (51296)</li>
        <li>Zanzotti, Gabriel Andrés (52067)</li>
    </ul>
</div>

