<div class="main panel">
	<div>
		<div class="searchTitle">
			<h2>Búsqueda</h2>
		</div>
		<div class="order-by">
			<label>Ordenar por</label>
			<div class="styled-select">
				<select name="order">
					<option value="price_higher">Precio: de mayor a menor</option>
					<option value="price_lower">Precio: de menor a mayor</option>
					<option value="stops_higher">Escalas: de mayor a menor</option>
					<option value="stops_lower">Escalas: de menor a mayor</option>
					<option value="airline_A-Z">Aerolinea: A-Z</option>
					<option value="airline_Z-A">Aerolinea: Z-A</option>
					<option value="duration_higher">Duración: de mayor a menor</option>
					<option value="duration_lower">Duración: de menor a mayor</option>
				</select>
			</div>
		</div>
	</div>
	<div class="hdivider"></div>
	<div id="flight-container">
		<div class="inbound">
			<h6 class="title">IDA</h6>
			<div class="hdivider"></div>	
			<form></form>
			<form></form>
		</div>
		<div class="outbound">
			<h6 class="title">VUELTA</h6>
			<div class="hdivider"></div>
			<form></form>
		</div>
	</div>
	<div class="navigation-bar">
		<div class="summary">
			<!--aca iria actualizandose lo que clickean los usuarios-->
		</div>
		<input type="submit" value="Continuar" onClick="window.location='{{Link "passengers.html"}}';" />
	</div>
</div>