<div class="hdivider"></div>
<div class="flight">
	<img src='{{Link "img/AARGwprice.gif"}}' alt="Tam Airlines" class="flightImage"/>
	<div class="departure">
		<h5 class="flightHeader">Ida</h5>
		<p class="pFlight">
			Origen: <span class="pCommon">{{departureCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Destino: <span class="pCommon">{{arrivalCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Salida: <span class="pCommon">{{departureTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Llegada: <span class="pCommon">{{arrivalTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Clase: <span class="pCommon">{{flightClass}}</span>
		</p>
		<br>
		<p class="pFlight">
			Escalas: <span class="pCommon">{{flightScales}}</span>
		</p>
		<br>
		<p class="pFlight">
			Duración: <span class="pCommon">{{flightDuration}}</span>
		</p>
	</div>
	<div class="return">
		<h5 class="flightHeader">Vuelta</h5>
		<p class="pFlight">
			Origen: <span class="pCommon">{{arrivalCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Destino: <span class="pCommon">{{departureCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Salida: <span class="pCommon">{{returningDepartureTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Llegada: <span class="pCommon">{{returningArrivalTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Clase: <span class="pCommon">{{flightClass}}</span>
		</p>
		<br>
		<p class="pFlight">
			Escalas: <span class="pCommon">{{flightScales}}</span>
		</p>
		<br>
		<p class="pFlight">
			Duración: <span class="pCommon">{{flightDuration}}</span>
		</p>
		<br>
	</div>
	<div class="d1">
		<div class="details">
			<p class="detPar detailAdults">
			</p>
			<p class="detPar detailMinors">
			</p>
			<p class="detPar detailInfants">
			</p>
			<p class="detPar detailTaxes">
			</p>
			<p class="detTotal detailTotal">
			</p>
		</div>
		<input type="submit" value="Seleccionar" onClick="window.location='{{Link "passengers.html"}}'; return false;">
	</div>
	<div class="hdivider"></div>
</div>