<div class="main panel">
	<div>
		<div class="searchTitle">
			<h2>Búsqueda</h2>
		</div>
		<div class="order-by">
			<label>Ordenar por</label>
			<div class="styled-select">
				<select name="order" id="selectionOrder">
					<option value="total asc">Precio: de mayor a menor</option>
					<option value="total desc">Precio: de menor a mayor</option>
					<option value="stopovers asc">Escalas: de mayor a menor</option>
					<option value="stopovers desc">Escalas: de menor a mayor</option>
					<option value="airline asc">Aerolinea: A-Z</option>
					<option value="airline desc">Aerolinea: Z-A</option>
					<option value="duration asc">Duración: de mayor a menor</option>
					<option value="duration desc">Duración: de menor a mayor</option>
				</select>
			</div>
		</div>
	</div>
	<div class="hdivider"></div>
		<div class="flight-header">
				<h6 class="title">Ida</h6>
		</div>
		<div id = "flight-header-ret" class="flight-header">
				<h6 class="title">Vuelta</h6>
		</div>
	<div class="hdivider"></div>
	<div id="flight-container">
		<div class="outbound flight-wrapper">
			<form>
				<!-- insert outbound flights here -->
			</form>
		</div>
		<div class="inbound flight-wrapper">
			<form>
				<!-- insert inbound flights here -->
			</form>
		</div>
	</div>
	<div class="hdivider"></div>
		<div class="pagination-bar">
			<div class="outbound-prev">
				<img src="{{Link 'img/prevArrow.png'}}" alt="previous"/>
			</div>
			<div class="outbound-pages">
				<input class="page-number" name="outbound-page-number" type="text">
				<span></span>
				<button class="go-button outPageBtn" type="button" name="submit">Ir</button>
				<!-- insert page numbers -->
			</div>
			<div class="outbound-next">
				<img src="{{Link 'img/nextArrow.png'}}" alt="next"/>
			</div>
		</div>
		<div class="vdivider"></div>
		<div id="pagination-bar-right" class="pagination-bar">
			<div class="inbound-prev">
				<img src="{{Link 'img/prevArrow.png'}}" alt="previous"/>
			</div>
			<div class="inbound-pages">
				<input class="page-number" name="inbound-page-number" type="text">
				<span></span>
				<button class="go-button inPageBtn" type="button" name="submit">Ir</button>
				<!-- out1sert page numbers -->
			</div>
			<div class="inbound-next">
				<img src="{{Link 'img/nextArrow.png'}}" alt="next"/>
			</div>
		</div>
	<div class="hdivider"></div>
	<div class="navigation-bar">
		<div class="summary">
			<!--aca iria actualizandose lo que clickean los usuarios-->
		</div>
		<input id="continue" class="flight-submit" type="submit" value="Continuar" onClick="window.location='{{Link "passengers.html"}}';" />
	</div>
</div>

