<div>
	<div class="flight-radio">
		 <input type="radio" name="flight" value="{{buttonValue}}" data-total="{{flightTotal}}">
	</div>
	<div class="flight">
		<div class="airline-image">
			<!-- insert airline image here -->
		</div>
		<p class="pFlight">
			Origen: <span class="pCommon">{{departureCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Destino: <span class="pCommon">{{arrivalCity}}</span>
		</p>
		<br>
		<p class="pFlight">
			Salida: <span class="pCommon">{{departureTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Llegada: <span class="pCommon">{{arrivalTime}}</span>
		</p>
		<br>
		<p class="pFlight">
			Clase: <span class="pCommon">{{flightClass}}</span>
		</p>
		<br>
		<p class="pFlight">
			Escalas: <span class="pCommon">{{flightStopovers}}</span>
		</p>
		<br>
		<p class="pFlight">
			Duración: <span class="pCommon">{{flightDuration}}</span>
		</p>
		<p class="pFlightTotal">
			Total: <span class="pTotal">{{flightTotal}}</span>
		</p>
	</div>
</div>
