<div class="main panel">
    <div>
        <div class="searchTitle">
            <h2>Búsqueda</h2>
        </div>
        <div class="orderBy">
            <label>Ordenar por</label>
            <select name="order">
                <option value="price_higher">Precio: de mayor a menor</option>
                <option value="price_lower">Precio: de menor a mayor</option>
                <option value="stops_higher">Escalas: de mayor a menor</option>
                <option value="stops_lower">Escalas: de menor a mayor</option>
                <option value="airline_A-Z">Aerolinea: A-Z</option>
                <option value="airline_Z-A">Aerolinea: Z-A</option>
                <option value="duration_higher">Duración: de mayor a menor</option>
                <option value="duration_lower">Duración: de menor a mayor</option>
            </select>
        </div>
    </div>
    <div class="hdivider"></div>
    <div class="flight">
        <img src='{{Link "img/AARGwprice.gif"}}' alt="Tam Airlines" class="flightImage"/>
        <div class="departure">
            <h5 class="flightHeader">Ida</h5>
            <p class="pFlight">Origen:
            <span class="pCommon">Buenos Aires</span>
            </p><br>
            <p class="pFlight">Destino:
            <span class="pCommon">Miami</span>
            </p><br>
            <p class="pFlight">Salida:
            <span class="pCommon">08:00</span>
            </p><br>
            <p class="pFlight">Llegada:
            <span class="pCommon">14:00</span>
            </p><br>
            <p class="pFlight">Clase:
            <span class="pCommon">Turista</span>
            </p><br>
            <p class="pFlight">Escalas:
            <span class="pCommon">0</span>
            </p><br>
            <p class="pFlight">Duración:
            <span class="pCommon">6 hs</span>
            </p>
        </div>
        <div class="return">
            <h5 class="flightHeader">Vuelta</h5>
            <p class="pFlight">Origen:
            <span class="pCommon">Miami</span>
            </p><br>
            <p class="pFlight">Destino:
            <span class="pCommon">Buenos Aires</span>
            </p><br>
            <p class="pFlight">Salida:
            <span class="pCommon">08:00</span>
            </p><br>
            <p class="pFlight">Llegada:
            <span class="pCommon">14:00</span>
            </p><br>
            <p class="pFlight">Clase:
            <span class="pCommon">Turista</span>
            </p><br>
            <p class="pFlight">Escalas:
            <span class="pCommon">0</span>
            </p><br>
            <p class="pFlight">Duración:
            <span class="pCommon">6 hs</span>
            </p><br>
        </div>
        <div class="d1">
            <div class="details">
                <p class="detPar">1 adulto/s   $6650</p>
                <p class="detPar">0 menores    $0</p>
                <p class="detPar">0 infantes   $0</p>
                <p class="detPar">Impuestos    $300</p>
                <p class="detPar">Total        $6950</p>
            </div>
            <input type="submit" value="Seleccionar" onClick="window.location='{{Link "passengers.html"}}';">
        </div>
        <div class="hdivider"></div>

        <div class="flight">
            <img src='{{Link "img/AAwprice.gif"}}' alt="Tam Airlines" class="flightImage"/>
            <div class="departure">
                <h5 class="flightHeader">Ida</h5>
                <p class="pFlight">Origen:
                <span class="pCommon">Buenos Aires</span>
                </p><br>
                <p class="pFlight">Destino:
                <span class="pCommon">Miami</span>
                </p><br>
                <p class="pFlight">Salida:
                <span class="pCommon">08:00</span>
                </p><br>
                <p class="pFlight">Llegada:
                <span class="pCommon">14:00</span>
                </p><br>
                <p class="pFlight">Clase:
                <span class="pCommon">Turista</span>
                </p><br>
                <p class="pFlight">Escalas:
                <span class="pCommon">0</span>
                </p><br>
                <p class="pFlight">Duración:
                <span class="pCommon">6 hs</span>
                </p>
            </div>
            <div class="return">
                <h5 class="flightHeader">Vuelta</h5>
                <p class="pFlight">Origen:
                <span class="pCommon">Miami</span>
                </p><br>
                <p class="pFlight">Destino:
                <span class="pCommon">Buenos Aires</span>
                </p><br>
                <p class="pFlight">Salida:
                <span class="pCommon">08:00</span>
                </p><br>
                <p class="pFlight">Llegada:
                <span class="pCommon">14:00</span>
                </p><br>
                <p class="pFlight">Clase:
                <span class="pCommon">Turista</span>
                </p><br>
                <p class="pFlight">Escalas:
                <span class="pCommon">0</span>
                </p><br>
                <p class="pFlight">Duración:
                <span class="pCommon">6 hs</span>
                </p><br>
            </div>
            <div class="d1">
                <div class="details">
                    <p class="detPar">1 adulto/s   $6650</p>
                    <p class="detPar">0 menores    $0</p>
                    <p class="detPar">0 infantes   $0</p>
                    <p class="detPar">Impuestos    $300</p>
                    <p class="detPar">Total        $6950</p>
                </div>
                <input type="submit" value="Seleccionar" onClick="window.location='{{Link "passengers.html"}}';">
            </div>
            <div class="hdivider"></div>

            <div class="flight">
                <img src='{{Link "img/Twprice.gif"}}' alt="Tam Airlines" class="flightImage"/>
                <div class="departure">
                    <h5 class="flightHeader">Ida</h5>
                    <p class="pFlight">Origen:
                    <span class="pCommon">Buenos Aires</span>
                    </p><br>
                    <p class="pFlight">Destino:
                    <span class="pCommon">Miami</span>
                    </p><br>
                    <p class="pFlight">Salida:
                    <span class="pCommon">08:00</span>
                    </p><br>
                    <p class="pFlight">Llegada:
                    <span class="pCommon">14:00</span>
                    </p><br>
                    <p class="pFlight">Clase:
                    <span class="pCommon">Turista</span>
                    </p><br>
                    <p class="pFlight">Escalas:
                    <span class="pCommon">0</span>
                    </p><br>
                    <p class="pFlight">Duración:
                    <span class="pCommon">6 hs</span>
                    </p>
                </div>
                <div class="return">
                    <h5 class="flightHeader">Vuelta</h5>
                    <p class="pFlight">Origen:
                    <span class="pCommon">Miami</span>
                    </p><br>
                    <p class="pFlight">Destino:
                    <span class="pCommon">Buenos Aires</span>
                    </p><br>
                    <p class="pFlight">Salida:
                    <span class="pCommon">08:00</span>
                    </p><br>
                    <p class="pFlight">Llegada:
                    <span class="pCommon">14:00</span>
                    </p><br>
                    <p class="pFlight">Clase:
                    <span class="pCommon">Turista</span>
                    </p><br>
                    <p class="pFlight">Escalas:
                    <span class="pCommon">0</span>
                    </p><br>
                    <p class="pFlight">Duración:
                    <span class="pCommon">6 hs</span>
                    </p><br>
                </div>
                <div class="d1">
                    <div class="details">
                        <p class="detPar">1 adulto/s   $6650</p>
                        <p class="detPar">0 menores    $0</p>
                        <p class="detPar">0 infantes   $0</p>
                        <p class="detPar">Impuestos    $300</p>
                        <p class="detPar">Total        $6950</p>
                    </div>
                    <input type="submit" value="Seleccionar" onClick="window.location='{{Link "passengers.html"}}';">
                </div>
            </div>
            <div class="hdivider"></div>
        </div>

