<div class="hdivider"></div>

<h6 class="title">{{title}}</h6>
<div class="hdivider"></div>

<div class="data-container">
    <div class="form-container">
        <div class="form-component-left">
            <label>Nombre:</label>
            <input name="name" type="text"/>
        </div>
        <div class="form-component-right">
            <label>Apellido:</label>
            <input name="lastname" type="text"/>
        </div>
        <div class="form-component-left">
            <label>Fecha de nacimiento:</label><br>
            <div class="styled-select">
                <select class="select_birth_day" name="birth_day">
                    <option value="dd" selected="selected">dd</option>
                </select>
            </div>
            <div class="styled-select">
                <select class="select_birth_month" name="birth_month">
                    <option value="mm" selected="selected">mm</option>
                </select>
            </div>
            <div class="styled-select">
                <select class="select_birth_year" name="birth_year">
                    <option value="aaaa" selected="selected">aaaa</option>
                </select>
            </div>
        </div>
        <div class="form-component-right">
            <label>Sexo:</label><br />
            <div class="gender styled-select">
                <select name="gender">
                    <option value="none" selected="true"></option>
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                </select>
            </div>
        </div>
    </div>
</div>

