<div class="summary panel">
	<h2>Resumen</h2>
	<div class="hdivider"></div>
	<div class="departure">
		<h5 class="flight-header">Ida</h5>
		<p class="flight">
			Origen: <span class="common"> Buenos Aires </span>
		</p>
		<br>
		<p class="flight">
			Destino: <span class="common">Miami</span>
		</p>
		<br>
		<p class="flight">
			Salida: <span class="common">08:00</span>
		</p>
		<br>
		<p class="flight">
			Llegada: <span class="common">14:00</span>
		</p>
		<br>
		<p class="flight">
			Clase: <span class="common">Turista</span>
		</p>
		<br>
		<p class="flight">
			Escalas: <span class="common">0</span>
		</p>
		<p class="flight">
			Duración: <span class="common">6 hs</span>
		</p>
	</div>
	<div class="return">
		<h5 class="flight-header">Vuelta</h5>
		<p class="flight">
			Origen: <span class="common">Miami</span>
		</p>
		<br>
		<p class="flight">
			Destino: <span class="common">Buenos Aires</span>
		</p>
		<br>
		<p class="flight">
			Salida: <span class="common">08:00</span>
		</p>
		<br>
		<p class="flight">
			Llegada: <span class="common">14:00</span>
		</p>
		<br>
		<p class="flight">
			Clase: <span class="common">Turista</span>
		</p>
		<br>
		<p class="flight">
			Escalas: <span class="common">0</span>
		</p>
		<p class="flight">
			Duración: <span class="common">6 hs</span>
		</p>
	</div>
</div>
<div class="main panel">
	<h2>Pasajeros</h2>
	<div id="pass-ctn" class="pass-ctn"></div>
	<div class="navigation-bar">
		<input type="submit" value="Volver" onClick="window.location='{{Link "flights.html"}}';" />
		<input type="submit" value="Continuar" onClick="window.location='{{Link "payment.html"}}';" />
	</div>
</div>

