<div id={{type}}>
	<div class="hdivider"></div>
    <h6 class="title">{{title}}</h6>
	<div class="hdivider"></div>
    <div class="container">
        <p class="flight">
            Origen: <span class="common">{{departureCity}}</span>
        </p>
        <br>
        <p class="flight">
            Destino: <span class="common">{{arrivalCity}}</span>
        </p>
        <br>
        <p class="flight">
            Salida: <span class="common">{{departureTime}}</span>
        </p>
        <br>
        <p class="flight">
            Llegada: <span class="common">{{arrivalTime}}</span>
        </p>
        <br>
        <p class="flight">
            Clase: <span class="common">{{flightClass}}</span>
        </p>
        <br>
        <p class="flight">
            Escalas: <span class="common">{{flightStopovers}}</span>
        </p>
        <br>
        <p class="flight">
            Duración: <span class="common">{{flightDuration}}</span>
        </p>
        <p class="flightTotal">
            Total: <span class="pTotal">U$S {{flightTotal}}</span>
        </p>
    </div>
</div>
