	<div class="departure">
		<h6 class="flight-header">Ida</h6>
		<div class="hdivider"></div>
		<p class="flight">
			Origen: <span class="common">{{inboundDepartureCity}}</span>
		</p>
		<br>
		<p class="flight">
			Destino: <span class="common">{{inboundArrivalCity}}</span>
		</p>
		<br>
		<p class="flight">
			Salida: <span class="common">{{inboundDepartureTime}}</span>
		</p>
		<br>
		<p class="flight">
			Llegada: <span class="common">{{inboundArrivalTime}}</span>
		</p>
		<br>
		<p class="flight">
			Clase: <span class="common">{{inboundFlightClass}}</span>
		</p>
		<br>
		<p class="flight">
			Escalas: <span class="common">{{inboundFlightStopovers}}</span>
		</p>
		<p class="flight">
			Duración: <span class="common">{{inboundFlightDuration}}</span>
		</p>
	</div>
	<div class="return">
		<div class="hdivider"></div>
		<h6 class="flight-header">Vuelta</h6>
		<div class="hdivider"></div>
		<p class="flight">
			Origen: <span class="common">{{outboundDepartureCity}}</span>
		</p>
		<br>
		<p class="flight">
			Destino: <span class="common">{{outboundArrivalCity}}</span>
		</p>
		<br>
		<p class="flight">
			Salida: <span class="common">{{outboundDepartureTime}}</span>
		</p>
		<br>
		<p class="flight">
			Llegada: <span class="common">{{outboundArrivalTime}}</span>
		</p>
		<br>
		<p class="flight">
			Clase: <span class="common">{{outboundFlightClass}}</span>
		</p>
		<br>
		<p class="flight">
			Escalas: <span class="common">{{outboundFlightStopovers}}</span>
		</p>
		<p class="flight">
			Duración: <span class="common">{{outboundFlightDuration}}</span>
		</p>
	</div>