<div class={{type}}>
	<h6 class="flight-header">Ida</h6>
	<div class="hdivider"></div>
    <p class="flight">
        Origen: <span class="common">{{departureCity}}</span>
    </p>
    <br>
    <p class="flight">
        Destino: <span class="common">{{arrivalCity}}</span>
    </p>
    <br>
    <p class="flight">
        Salida: <span class="common">{{departureTime}}</span>
    </p>
    <br>
    <p class="flight">
        Llegada: <span class="common">{{arrivalTime}}</span>
    </p>
    <br>
    <p class="flight">
        Clase: <span class="common">{{flightClass}}</span>
    </p>
    <br>
    <p class="flight">
        Escalas: <span class="common">{{flightStopovers}}</span>
    </p>
    <br>
    <p class="flight">
        Duración: <span class="common">{{flightDuration}}</span>
    </p>
    <p class="flightTotal">
        Total: U$S <span class="pTotal">{{flightTotal}}</span>
    </p>
<!-- <div class="return"> -->
<!-- 	<div class="hdivider"></div> -->
<!-- 	<h6 class="flight&#45;header">Vuelta</h6> -->
<!-- 	<div class="hdivider"></div> -->
<!-- 	<p class="flight"> -->
<!-- 		Origen: <span class="common">{{outboundDepartureCity}}</span> -->
<!-- 	</p> -->
<!-- 	<br> -->
<!-- 	<p class="flight"> -->
<!-- 		Destino: <span class="common">{{outboundArrivalCity}}</span> -->
<!-- 	</p> -->
<!-- 	<br> -->
<!-- 	<p class="flight"> -->
<!-- 		Salida: <span class="common">{{outboundDepartureTime}}</span> -->
<!-- 	</p> -->
<!-- 	<br> -->
<!-- 	<p class="flight"> -->
<!-- 		Llegada: <span class="common">{{outboundArrivalTime}}</span> -->
<!-- 	</p> -->
<!-- 	<br> -->
<!-- 	<p class="flight"> -->
<!-- 		Clase: <span class="common">{{outboundFlightClass}}</span> -->
<!-- 	</p> -->
<!-- 	<br> -->
<!-- 	<p class="flight"> -->
<!-- 		Escalas: <span class="common">{{outboundFlightStopovers}}</span> -->
<!-- 	</p> -->
<!-- 	<p class="flight"> -->
<!-- 		Duración: <span class="common">{{outboundFlightDuration}}</span> -->
<!-- 	</p> -->
</div>
