<div id="carousel-frame">
</div>

<div class="featured panel">
    <h3>Los más buscados</h3>
    <div class="hdivider"></div>
        <div id="featured-flights">
            <div class="featured-item panel">
                <img class="hide_onhover" src="{{Link 'img/featured/01.jpg'}}" />
                <div class="show_onhover">
                    <div class="city">
                        <h4>Disney</h4>
                    </div>
                    <div class="price">
                        <p>Desde $7500</p>
                    </div>
                </div>
            </div>
            <div class="featured-item panel">
                <img class="hide_onhover" src="{{Link 'img/featured/02.jpg'}}" />
                <div class="show_onhover">
                    <div class="city">
                        <h4>Camboriú</h4>
                    </div>
                    <div class="price">
                        <p>Desde $5000</p>
                    </div>
                </div>
            </div>
            <div class="featured-item panel">
                <img class="hide_onhover" src="{{Link 'img/featured/03.jpg'}}" />
                <div class="show_onhover">
                    <div class="city">
                        <h4>Cataratas</h4>
                    </div>
                    <div class="price">
                        <p>Desde $3500</p>
                    </div>
                </div>
            </div>
            <div class="featured-item panel">
                <img class="hide_onhover" src="{{Link 'img/featured/04.jpg'}}" />
                <div class="show_onhover">
                    <div class="city">
                        <h4>Jujuy</h4>
                    </div>
                    <div class="price">
                        <p>Desde $2500</p>
                    </div>
                </div>
            </div>
            <div class="featured-item panel">
                <img class="hide_onhover" src="{{Link 'img/featured/05.jpg'}}" />
                <div class="show_onhover">
                    <div class="city">
                        <h4>España</h4>
                    </div>
                    <div class="price">
                        <p>Desde $5500</p>
                    </div>
                </div>
            </div>
        </div>
</div>

