<div>
	<div class="hdivider"></div>
	<h6>Datos de la tarjeta</h6>
	<div class="hdivider"></div>
	<p class="flight">
		Tarjeta: <span class="common">{{card}}</span>
	</p>
	<br>
	<p class="flight">
		Numero de tarjeta: <span class="common">{{cardNumber}}</span>
	</p>
	<br>
	<p class="flight">
		Fecha de vencimiento: <span class="common">{{expireDate}}</span>
	</p>
	<br>
	<p class="flight">
		Codigo de seguridad: <span class="common">{{securityCode}}</span>
	</p>
	<br>
	<div class="hdivider"></div>
	<h6>Datos del titular</h6>
	<div class="hdivider"></div>
	<p class="flight">
		Nombre del titular: <span class="common">{{ownerName}}</span>
	</p>
	<br>
	<p class="flight">
		Apellido del titular: <span class="common">{{ownerLastName}}</span>
	</p>
	<br>
	<p class="flight">
		DNI: <span class="common">{{dni}}</span>
	</p>
	<br>
	<p class="flight">
		email: <span class="common">{{email}}</span>
	</p>
</div>