<div class="confirmation panel">
	<h2>Comprobante</h2>
	<div class="hdivider"></div>
	<div class="note">
		<h3>Felicitaciones, usted acaba de realizar la compra del pasaje. Imprima este comprobante para poder retirar sus pasajes.</h3>
	</div>
	<div class="hdivider"></div>
	<div id="summary">
		<div id="flight-summary">
			<!-- insert flight summary here -->
		</div>
		<div id="passenger-summary">
			<!-- insert passenger summary here -->
		</div>
		<div id="payment-summary">
			<!-- insert payment summary here -->
		</div>
	</div>
	<div class="hdivider"></div>
	<div class="barcode-container">
		<img src="{{Link 'img/barcode.png'}}" class="barcode-img" alt="barcode">
	</div>
</div>

