<div class="hdivider"></div>
<h6>Datos de la tarjeta</h6>
<div class="hdivider"></div>
<p class="payment-summary">
    Tarjeta: <span class="common">{{card}}</span>
</p>
<br>
<p class="payment-summary">
	Numero de tarjeta: <span class="common">{{cardNumber}}</span>
</p>
<br>
<p class="payment-summary">
    Fecha de vencimiento: <span class="common">{{expireDate}}</span>
</p>
<br>
<p class="payment-summary">
    Codigo de seguridad: <span class="common">{{securityCode}}</span>
</p>
<br>
<p class="payment-summary">
    Codigo de seguridad: <span class="common">{{securityCode}}</span>
</p>
<br>
<div class="hdivider"></div>
<h6>Datos del titular</h6>
<div class="hdivider"></div>
<p class="payment-summary">
    Nombre del titular: <span class="common">{{ownerName}}</span>
</p>
<br>
<p class="payment-summary">
    Apellido del titular: <span class="common">{{ownerLastName}}</span>
</p>
<br>
<p class="payment-summary">
    DNI: <span class="common">{{dni}}</span>
</p>
<br>
<p class="payment-summary">
    email: <span class="common">{{email}}</span>
</p>