<div class="header panel">
    <a href="{{Link 'index.html'}}"><img id="logo" src="{{Link 'img/logo.png'}}" /></a>
    <div class="header-info">
        <div class="social-media">
            <a href="http://www.twitter.com/clickntravelhci">
                <div id="twitter_logo">
                    <img class="hide_onhover" src="{{Link 'img/twitter_logo.png'}}" />
                    <img class="show_onhover" src="{{Link 'img/twitter_logo_onhover.png'}}" />
                </div>
            </a>
            <a href="http://www.facebook.com/profile.php?id=100005722595037">
                <div id="facebook_logo">
                    <img class="hide_onhover" src="{{Link 'img/facebook_logo.png'}}" />
                    <img class="show_onhover" src="{{Link 'img/facebook_logo_onhover.png'}}" />
                </div>
            </a>
        </div>
        <div class="menu">
            <div class="menu-item">
            	<a id="home_link" class="menu_link">Inicio</a>
                <!-- <a id="home_link" class="menu_link" href="{{Link 'index.html'}}">Inicio</a> -->
            </div>
            <div class="menu-item">
            	<a id="about_link" class="menu_link">Nosotros</a>
                <!-- <a id="about_link" class="menu_link" href="{{Link 'about.html'}}">Nosotros</a> -->
            </div>
            <div class="final-menu-item">
            	<a id="contact_link" class="menu_link">Contacto</a>
                <!-- <a id="contact_link" class="menu_link" href="{{Link 'contact.html'}}">Contacto</a> -->
            </div>
        </div>
    </div>
</div>

