<div class="container">
    <div class="header panel">
        <a href="{{Link 'index.html'}}"><img id="logo" src="/img/logo.png" /></a>
        <a href="http://www.twitter.com/clickntravelhci">
            <div id="twitter_logo">
                <img class="hide_onhover" src="{{Link 'img/twitter_logo.png'}}" />
                <img class="show_onhover" src="{{Link 'img/twitter_logo_onhover.png'}}" />
            </div>
        </a>
        <a href="http://www.facebook.com/profile.php?id=100005722595037">
            <div id="facebook_logo">
                <img class="hide_onhover" src="{{Link 'img/facebook_logo.png'}}" />
                <img class="show_onhover" src="{{Link 'img/facebook_logo_onhover.png'}}" />
            </div>
        </a>

        <a id="contact_link" href="{{Link 'contact.html'}}">Contacto</a>
        <div class="vdivider"></div>
        <a id="about_link" href="{{Link 'about.html'}}">Nosotros</a>
        <div class="vdivider"></div>
        <a id="home_link" href="{{Link 'index.html'}}">Inicio<!-- {{I18n "head.inicio"}} --></a>

    </div>
    <div id="body">
        <div class="panel" id="sidebar">
            <script type="text/javascript">
                function toggleFlightMode(from) {

                    if ($("#round_trip").hasClass("selected") && from == "one_way") {

                        $("#round_trip").removeClass("selected");
                        $("#one_way").addClass("selected");
                        $("#return_input").prop("disabled", true);
                        $("#return_label").addClass("disabled");
                        $("#return_input").addClass("disabled");

                    }

                    if ($("#one_way").hasClass("selected") && from == "round_trip") {

                        $("#one_way").removeClass("selected");
                        $("#round_trip").addClass("selected");
                        $("#return_input").prop("disabled", false);
                        $("#return_label").removeClass("disabled");
                        $("#return_input").removeClass("disabled");
                    }
                }
            </script>
            <div class="sidebar-header">
                <a href="javascript:toggleFlightMode('round_trip')">
                    <div class="sidebar-tab selected" id="round_trip">
                        Ida y vuelta
                    </div>
                </a>
                <a href="javascript:toggleFlightMode('one_way')">
                    <div class="sidebar-tab" id="one_way">
                        Ida
                    </div>
                </a>
            </div>

            <div class="sidebar-body">
                <label>Origen:</label>
                    <input name="from" type="text" />

                    <label>Destino:</label>
                    <input name="to" type="text" />

                    <div class="hdivider"></div>

                    <label>Partida:</label>
                    <div class="input-date">
                        <input name="depart" type="text" placeholder="dd-mm-yyyy" maxlength="15" />
                        <img src="{{Link 'img/calendar.png'}}" />
                    </div>

                    <label id="return_label">Regreso:</label>
                    <div class="input-date">
                        <input id="return_input" name="return" type="text" placeholder="dd-mm-yyyy" maxlength="15" />
                        <img src="{{Link 'img/calendar.png'}}" />
                    </div>

                    <div class="hdivider"></div>

                    <div class="num-people">
                        <label>Adultos:</label>
                        <select id="select_adults" name="adults">
                        </select>
                    </div>

                    <div class="num-people">
                        <label>Menores:</label>
                        <select id="select_children" name="children">
                        </select>
                    </div>

                    <div class="num-people">
                        <label>Infantes:</label>
                        <select id="select_infants" name="infants">
                        </select>
                    </div>

                    <div class="hdivider"></div>

                    <div class="search">
                        <a href="{{Link 'advanced_options.html'}}">Opciones Avanzadas</a>
                        <input type="submit" value="Buscar" onClick="window.location='{{Link "flights.html"}}';" />
                    </div>
            </div>
        </div>
        <div id="main">
            {{{main_body}}}
        </div>
    </div>
</div>

