<div class="main panel">
    <h2>Opciones avanzadas</h2>
    <div class="hdivider"></div>
    <form>
        <div>
            <label>Aerolínea:</label>
            <input name="airline" type="text" placeholder="Ingrese el nombre de una aerolínea" />
        </div>
        <div>
            <label>Horario de partida:</label>
            <select id="select_departure_time" name="departure_time">
                <option value="default">Sin preferencia</option>
            </select>
        </div>
        <div>
            <label>Horario de regreso:</label>
            <select id="select_return_time" name="return_time">
                <option value="default">Sin preferencia</option>
            </select>
        </div>
        <div>
            <label>Cantidad de escalas:</label>
            <select id="select_stopovers" name="stopovers">
                <option value="default">Sin preferencia</option>
                <option value="0">Sin escalas</option>
            </select>
        </div>
        <div>
            <label>Clase:</label>
            <select name="clase">
                <option value="default">Sin preferencia</option>
                <option value="economy">Turista</option>
                <option value="business">Ejecutiva</option>
                <option value="first">Primera clase</option>
            </select>
        </div>
        <div>
            <label>Moneda:</label>
            <select name="moneda">
                <option value="pesos">Pesos</option>
                <option value="dollars">Dólares</option>
                <option value="euros">Euros</option>
            </select>
        </div>
        <div>
            <label>Precio mínimo:</label>
            <input name="min-price" type="text" placeholder="Mín" />
        </div>
        <div>
            <label>Precio máximo:</label>
            <input name="max-price" type="text" placeholder="Máx" />
        </div>
        <input type="submit" value="Buscar" />
    </form>
</div>

