<div class="summary panel">
	<h2>Resumen</h2>
	<div class="scroller">
        <div id="summary">
        </div>
        <div id="pass-ctn">
        </div>
	</div>
</div>
<div class="main-container">
	<div class="payment-error">
		<!-- insert error here -->
	</div>
	<div class="main panel">
		<h2>Pago de pasajes</h2>
		<div class="hdivider"></div>
		<form name="payment-form">
			<div class="card-info">
				<div class="select-container">
					<div class="payment-label">
						<label>Seleccionar tarjeta:</label>
					</div>
					<div class="cards">
						<input id="visa" name="card" type="radio" checked="checked"/>
						<img src='{{Link "img/cards/visa.png"}}' alt="visa" />
						<input id="diners" name="card" type="radio"/>
						<img src='{{Link "img/cards/diners.png"}}' alt="diners" />
				    	<input id="master-card" name="card" type="radio"/>
						<img src='{{Link "img/cards/master-card.png"}}' alt="master card" />
						<input id="american-express" name="card" type="radio"/>
						<img src='{{Link "img/cards/american-express.png"}}' alt="american express" />
					</div>
				</div>
				<div class="datacard-container">
					<div class="form-component-left card-num-component">
						<div class="payment-label">
							<label>Número de tarjeta:</label>
						</div>
						<input id="card-num" class="card-num" name="card_num" type="text" maxlength="16"/>
					</div>
					<div class="form-component-left">
						<div class="payment-label">
							<label>Fecha de vencimiento:</label>
						</div>
						<input id="exp-date" name="exp-date" type="text" placeholder="mm/aa" maxlength="4"/>
					</div>
					<div class="form-component-right code-component">
						<div class="payment-label">
							<label>Código de seguridad:</label>
						</div>
						<input id="security-code" class="security-code" name="security_code" type="text" maxlength="3"/>
					</div>
				</div>
			</div>
			<div class="hdivider"></div>
			<h6 class="title">Datos del titular</h6>
			<div class="hdivider"></div>
			<div class="owner-info">
				<div class="owner-container">
					<div class="form-component-left">
						<div class="payment-label">
							<label>Nombre:</label>
						</div>
						<input name="name" type="text"/>
					</div>
					<div class="form-component-right">
						<div class="payment-label">
							<label>Apellido:</label>
						</div>
						<input name="lastname" type="text"/>
					</div>
					<div class="form-component-left">
						<div class="payment-label">
							<label>DNI:</label>
						</div>
						<input name="dni" type="text" maxlength="8"/>
					</div>
					<div class="form-component-right">
						<div class="payment-label">
							<label>Email de contacto:</label>
						</div>
						<input name="email" type="text"/>
					</div>
				</div>
			</div>
			<div class="navigation-bar">
				<div class="hdivider"></div>
				<input id="back" type="button" value="Volver" />
				<input id="buy" type="submit" value="Comprar" />
			</div>
		</form>
	</div>
</div>

