<div class="summary panel">
    <h2>Resumen</h2>
    <div class="hdivider"></div>
    <div class="scroller">
        <div class="departure">
            <h5 class="flightHeader">Ida</h5>
            <span class="flight">Origen:
            	<p class="common">Buenos Aires</p>
            </span>
            <span class="flight">Destino:
            	<p class="common">Miami</p>
            </span>
            <span class="flight">Salida:
            	<p class="common">08:00</p>
            </span>
            <span class="flight">Llegada:
            	<p class="common">14:00</p>
            </span>
            <span class="flight">Clase:
            	<p class="common">Turista</p>
            </span>
            <span class="flight">Escalas:
            	<p class="common">0</p>
            </span>
            <span class="flight">Duración:
            	<p class="common">6 hs</p>
            </span>
        </div>
        <div class="return">
            <h5 class="flightHeader">Vuelta</h5>
            <span class="flight">Origen:
            	<p class="common">Miami</p>
            </span>
            <span class="flight">Destino:
            	<p class="common">Buenos Aires</p>
            </span>
            <span class="flight">Salida:
            	<p class="common">08:00</p>
            </span>
            <span class="flight">Llegada:
            	<p class="common">14:00</p>
            </span>
            <span class="flight">Clase:
            	<p class="common">Turista</p>
            </span>
            <span class="flight">Escalas:
            	<p class="common">0</p>
            </span>
            <span class="flight">Duración:
            	<p class="common">6 hs</p>
            </span>
        </div>
        <div class="hdivider"></div>
        <h6> Mayores </h6>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">Oscar</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Blanco</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Masculino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">15/03/1956</p>
        </span>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">Maria</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Nieves</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Femenino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">18/05/1959</p>
        </span>
        <div class="hdivider"></div>
        <h6> Menores </h6>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">juan</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Blanco</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Masculino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">15/03/1999</p>
        </span>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">Sofia</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Blanco</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Femenino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">31/10/2000</p>
        </span>
        <div class="hdivider"></div>
        <h6> Infantes </h6>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">Oscar</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Blanco</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Masculino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">15/03/2011</p>
        </span>
        <div class="hdivider"></div>
        <span class="flight">Nombre:
        	<p class="common">Santiago</p>
        </span>
        <span class="flight">Apellido:
        	<p class="common">Blanco</p>
        </span>
        <span class="flight">Sexo:
        	<p class="common">Masculino</p>
        </span>
        <span class="flight">Fecha de nacimiento:
        	<p class="common">15/03/2012</p>
        </span>
    </div>
</div>
<div class="main panel">
    <h2>Pago de pasajes</h2>

    <div class="hdivider"></div>

    <div class="select-container">
        <label>Seleccionar tarjeta:</label><br>
        <div class="cards">
            <input name="card" type="radio"/><img src='{{Link "img/visa.png"}}' alt="visa"/>
            <input name="card" type="radio"/><img src='{{Link "img/mastercard.png"}}' alt="master card"/>
            <input name="card" type="radio"/><img src='{{Link "img/americanExpress.png"}}' alt="american express"/>
        </div>
    </div>

    <div class="datacard-container">
        <div class="form-component-left card-num-component">
            <label>Número de tarjeta:</label>
            <input class="card-num" name="card_num" type="text"/>
        </div>
        <div class="form-component-left">
            <label>Fecha de vencimiento:</label><br>
             <div class="styled-select">
                <select id="select_expiration_month" name="expiration_month">
                    <option value="mm" selected="selected">mm</option>
                </select>
            </div>
           <div class="styled-select">
                <select id="select_expiration_year" name="expiration_year">
                    <option value="aaaa" selected="selected">aaaa</option>
                </select>
            </div>
        </div>
        <div class="form-component-right code-component">
            <label>Código de seguridad:</label><br>
            <input class="security-code" name="security_code" type="text" maxlength="3"/>
        </div>
    </div>

    <div class="hdivider"></div>
    <h6 class="title">Datos del titular</h6>
    <div class="hdivider"></div>

    <div class="owner-container">
        <div class="form-component-left">
            <label>Nombre:</label>
            <input name="name" type="text"/>
        </div>
        <div class="form-component-right">
            <label>Apellido:</label>
            <input name="lastname" type="text"/>
        </div>
        <div class="form-component-left">
            <label>DNI:</label><br>
            <input name="dni" type="text"/>
        </div>
        <div class="form-component-right">
            <label>Email:</label><br>
            <input name="email" type="text"/>
        </div>
    </div>

    <div class="navigation-bar">
        <div class="hdivider"></div>
        <input type="submit" value="Volver" onClick="window.location='{{Link "passengers.html"}}';" />
        <input type="submit" value="Continuar" onClick="window.location='{{Link "payment.html"}}';" />
    </div>
</div>

