<div class="summary panel">
	<h2>Resumen</h2>
	<div class="hdivider"></div>
	<div class="scroller">
		<div class="departure">
			<h5 class="flightHeader">Ida</h5>
			<p class="flight">
				Origen: <span class="common">Buenos Aires</span>
			</p><br>
			<p class="flight">
				Destino: <span class="common">Miami</span>
			</p><br>
			<p class="flight">
				Salida: <span class="common">08:00</span>
			</p><br>
			<p class="flight">
				Llegada: <span class="common">14:00</span>
			</p><br>
			<p class="flight">
				Clase: <span class="common">Turista</span>
			</p><br>
			<p class="flight">
				Escalas: <span class="common">0</span>
			</p><br>
			<p class="flight">
				Duración: <span class="common">6 hs</span>
			</p>
		</div>
		<div class="return">
			<h5 class="flightHeader">Vuelta</h5>
			<p class="flight">
				Origen: <span class="common">Miami</span>
			</p><br>
			<p class="flight">
				Destino: <span class="common">Buenos Aires</span>
			</p><br>
			<p class="flight">
				Salida: <span class="common">08:00</span>
			</p><br>
			<p class="flight">
				Llegada: <span class="common">14:00</span>
			</p><br>
			<p class="flight">
				Clase: <span class="common">Turista</span>
			</p><br>
			<p class="flight">
				Escalas: <span class="common">0</span>
			</p><br>
			<p class="flight">
				Duración: <span class="common">6 hs</span>
			</p>
		</div>
		<div class="hdivider"></div>
		<h6> Mayores </h6>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">Oscar</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Blanco</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Masculino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">15/03/1956</span>
		</p>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">Maria</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Nieves</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Femenino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">18/05/1959</span>
		</p>
		<div class="hdivider"></div>
		<h6> Menores </h6>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">juan</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Blanco</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Masculino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">15/03/1999</span>
		</p>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">Sofia</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Blanco</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Femenino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">31/10/2000</span>
		</p>
		<div class="hdivider"></div>
		<h6> Infantes </h6>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">Oscar</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Blanco</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Masculino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">15/03/2011</span>
		</p>
		<div class="hdivider"></div>
		<p class="flight">
			Nombre: <span class="common">Santiago</span>
		</p>
		<p class="flight">
			Apellido: <span class="common">Blanco</span>
		</p><br>
		<p class="flight">
			Sexo: <span class="common">Masculino</span>
		</p>
		<p class="flight">
			Fecha de nacimiento: <span class="common">15/03/2012</span>
		</p>
	</div>
</div>
<div class="main panel">
	<form>
		<h2>Pago de pasajes</h2>

		<div class="hdivider"></div>

		<div class="select-container">
			<label>Seleccionar tarjeta:</label>
			<br>
			<div class="cards">
				<input name="card" type="radio"/>
				<img src='{{Link "img/visa.png"}}' alt="visa"/>
				<input name="card" type="radio"/>
				<img src='{{Link "img/mastercard.png"}}' alt="master card"/>
				<input name="card" type="radio"/>
				<img src='{{Link "img/americanExpress.png"}}' alt="american express"/>
			</div>
		</div>

		<div class="datacard-container">
			<div class="form-component-left card-num-component">
				<label>Número de tarjeta:</label>
				<input class="card-num" name="card_num" type="text"/>
			</div>
			<div class="form-component-left">
				<label>Fecha de vencimiento:</label>
				<br>
				<div class="styled-select">
					<select id="select_expiration_month" name="expiration_month">
						<option value="mm" selected="selected">mm</option>
					</select>
				</div>
				<div class="styled-select">
					<select id="select_expiration_year" name="expiration_year">
						<option value="aaaa" selected="selected">aaaa</option>
					</select>
				</div>
			</div>
			<div class="form-component-right code-component">
				<label>Código de seguridad:</label>
				<br>
				<input class="security-code" name="security_code" type="text" maxlength="3"/>
			</div>
		</div>

		<div class="hdivider"></div>
		<h6 class="title">Datos del titular</h6>
		<div class="hdivider"></div>

		<div class="owner-container">
			<div class="form-component-left">
				<label>Nombre:</label>
				<input name="name" type="text"/>
			</div>
			<div class="form-component-right">
				<label>Apellido:</label>
				<input name="lastname" type="text"/>
			</div>
			<div class="form-component-left">
				<label>DNI:</label>
				<br>
				<input name="dni" type="text"/>
			</div>
			<div class="form-component-right">
				<label>Email:</label>
				<br>
				<input name="email" type="text"/>
			</div>
		</div>

		<div class="navigation-bar">
			<div class="hdivider"></div>
			<input type="submit" value="Volver" onClick="window.location='{{Link "passengers.html"}}';" />
			<input type="submit" value="Continuar" onClick="window.location='{{Link "payment.html"}}';" />
		</div>
	</form>
</div>

